body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat
    
}

h1 {
    font-family:monospace;
    text-align: center;
    margin: 50px;
    font-size: 50px;
    text-decoration-line: underline;
}

#compute {
    text-align: center;
    margin: 50px;  
}


#trucker {
	margin: 20px;
    text-align: center;	
    
}
#shipper {
	 text-align: center;
	
}


#actors {
    text-align: center;
    font-family: monospace;
    font-size: 50px;
}